* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Helvetica', Arial, sans-serif;
}

.navigation {
  background: rgb(29, 29, 29);
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2em 10em;
}

ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

a {
  text-decoration: none;
  color: white;
}
.main {
  display: flex;
  flex-wrap: wrap;
  min-height: 75vh;
  gap: 3em;
  padding: 2em 10em;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.main-img {
  width: 300px;
}

.main .content {
  max-width: 550px;
}

.section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 2em;
  padding: 2em 10em;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 5em;
}  

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

.card {
  background-color: rgb(29, 29, 29);
  color: white;
  width: 350px;
}

.card-heading {
  padding: 2em 3em;
  background: rgb(129, 129, 129);
}

.card-content {
  padding: 2em 3em;
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
}
.gallery-image {
  width: 175px;
  height: 175px;
  background-image: url('./img.jpg');
  background-size: cover;
}
